body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    margin: 0;
    padding: 0;
}

#chat-container {
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

#chat-box {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

#msgInput {
    width: 80%;
    padding: 10px;
}

button {
    width: 18%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}
