<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Chat App</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="chat-container">
        <div id="chat-box"></div>
        <input type="text" id="msgInput" placeholder="Type a message..." autocomplete="off">
        <button onclick="sendMessage()">Send</button>
    </div>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
    <script src="/static/js/chat.js"></script>
</body>
</html>
